/*************************************
    STYLE
*************************************/

/* COMMON */

body {
    font-family: sans-serif;
}

:root {
    --_sec_color: #1f1f1f;
    --_alt_color_gray: #bebcbb;
    --_alt_color_blue: #161c3b;
    --_alt_color_lightblue: #00439c;
}

/* HEADER */

._mcdonalds {
    background-image: url('../img/doodle-burger-1-cut.png');
}

._header_top img {
    height: 20px;
}

._header_bottom .navbar-brand img {
    height: 50px;
}

._search_icon {
    height: 40px;
}

/* JUMBOTRON */

#_jumbotron {
    margin-top: 112px;
}

._hero {
    height: 400px;
    background-image: url('../img/jumbo-bg.png');
    background-position: center top;
}

._hero .container-xxl,
._hero .row {
    height: 100%;
}

._hero img {
    max-width: 400px;
}

/* TECH SPECS */

._width_80 {
    width: 80%;
}

/* PROMO */

#_promo {
    height: 400px;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center top;
}

#_promo .container-xxl,
#_promo .row {
    height: 100%;
}

#_promo img {
    max-width: 200px;
}

/* CARDS */

#_cards {
    background-color: var(--_sec_color);
}

/* VIP PLAN */

#_vip {
    height: 300px;
    background-color: var(--_alt_color_gray);
}

#_vip .container-xxl,
#_vip .row {
    height: 100%;
}

#_vip img {
    max-width: 300px;
}

/* STORE */

/* INFO */

#_info {
    background-color: var(--_alt_color_blue);
}

#_info .row > div:first-child img {
    height: 70px;
}

#_info .row > div:last-child img {
    height: 300px;
}

#_info .row > div:last-child {
    display: none;
}

/* CONTACT */

/* FOOTER */

footer {
    background-color: var(--_alt_color_lightblue);
}

#_language_select img {
    height: 1rem;
}

footer ul {
    list-style: none;
}

footer ul a {
    color: #FFFFFF;
    text-decoration: none;
}

footer ul a:hover {
    color: #FFFFFF;
}

footer .row:last-child img {
    height: 40px;
}

footer .row:last-child p a {
    color: #FFFFFF;
}

footer .row:last-child p a:hover {
    color: #FFFFFF;
}

/*************************************
    DEBUG CLASS FOR BODY LAYOUT
*************************************/

._debug ._header_top,
._debug footer {
    background-color: orange;
}

._debug ._box_1 {
    width: 200px;
    height: 25px;
    background-color: yellow;
    border: 5px solid black;
}

._debug ._header_bottom {
    background-color: red;
}

._debug ._box_2 {
    height: 50px;
    background-color: yellow;
    border: 5px solid black;
}

._debug ._box_3 {
    height: 300px;
    background-color: greenyellow;
    border: 5px solid black;
}

._debug ._box_4 {
    height: 100px;
    background-color: aqua;
    border: 5px solid black;
}

._debug ._box_5 {
    height: 200px;
    background-color: pink;
    border: 5px solid black;
}

/*************************************
    MEDIA QUERY
*************************************/

@media all and (min-width: 768px) {
    #_vip {
    background-image: url('../img/ps-plus-april-monthly-games-featured-image-block.png');
    background-position: 90% top;
    background-size: auto 300px;
    background-repeat: no-repeat;
    }
}