/*************************************
    STYLE
*************************************/

/* COMMON */

body {
    font-family: sans-serif;
}

:root {
    --_sec_color: #1f1f1f;
    --_alt_color_gray: #bebcbb;
    --_alt_color_blue: #161c3b;
    --_alt_color_lightblue: #00439c;
    --bs-accordion-border-width: 0 !important;
}

/* HEADER */

#accordionExample {
    max-height: 420px;
    overflow-y: auto;
}

._mcdonalds {
    background-image: url('../img/doodle-burger-1-cut.png');
}

._header_top img {
    height: 20px;
}

._header_bottom .navbar-brand img {
    height: 50px;
}

._search_icon {
    height: 40px;
}

._border_edit {
    border: 0;
    box-shadow: 0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.accordion-body ul {
    list-style: none;
}

._line_break::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--bs-secondary);
}

/* JUMBOTRON */

#_jumbotron {
    margin-top: 112px;
}

._hero {
    height: 400px;
    background-image: url('../img/jumbo-bg.png');
    background-position: center top;
}

._hero .container-xxl,
._hero .row {
    height: 100%;
}

._hero img {
    max-width: 400px;
}

/* TECH SPECS */

._fx_specs_card {
    opacity: 0.8;
}

/* PROMO */

#_promo {
    height: 400px;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center top;
}

#_promo .container-xxl,
#_promo .row {
    height: 100%;
}

#_promo img {
    max-width: 200px;
}

/* CARDS */

#_cards {
    background-color: var(--_sec_color);
}

/* EXPLORE */

/* VIP PLAN */

#_vip {
    height: 300px;
    background-color: var(--_alt_color_gray);
}

#_vip .container-xxl,
#_vip .row {
    height: 100%;
}

#_vip img {
    max-width: 300px;
}

/* STORE */

/* INFO */

#_info {
    background-color: var(--_alt_color_blue);
}

#_info .row > div:first-child img {
    height: 70px;
}

#_info .row > div:last-child img {
    height: 300px;
}

#_info .row > div:last-child {
    display: none;
}

/* SPECIAL */

#_special {
    position: relative;
    height: 250px;
}

#_spec_btn {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
	overflow: hidden;
	margin: 0 auto;
	width: 250px;
	height: 250px;
	border-radius: 50%/50px;
	background-color: #BB0000;
}

#_spec_btn > div {
	position: absolute;
	left: 0;
	top: 0;
	width: 250px;
	height: 200px;
	border-radius: 50%/50px;
	background-color: red;
    color: #FFF;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

._xbox {
    width: 100px;
    position: absolute;
    bottom: 70%;
    opacity: 0;
}

#_xbox_1 {
    left: 10%;
}

#_xbox_2 {
    left: 30%;
}

#_xbox_3 {
    right: 30%;
}

#_xbox_4 {
    right: 10%;
}

/* CONTACT */

/* FOOTER */

footer {
    background-color: var(--_alt_color_lightblue);
}

#_language_select img {
    height: 1rem;
}

footer ul {
    list-style: none;
}

footer ul a {
    color: #FFFFFF;
    text-decoration: none;
}

footer .row:last-child img {
    height: 40px;
}

footer .row:last-child p a {
    color: #FFFFFF;
}

/*************************************
    EFFECT
*************************************/

footer ul a:hover {
    color: #FFFFFF;
}

footer .row:last-child p a:hover {
    color: #FFFFFF;
}

._fx_btn_black:hover {
    outline: 2px solid var(--bs-black);
    outline-offset: 2px;
}

._fx_btn_red:hover {
    outline: 2px solid var(--bs-danger);
    outline-offset: 2px;
}

._fx_btn_blue:hover {
    outline: 2px solid var(--bs-primary);
    outline-offset: 2px;
}

._fx_btn_white:hover {
    outline: 2px solid var(--bs-light);
    outline-offset: 2px;
}

._fx_hero_card {
    transition: transform 0.2s ease-out 0.2s;
}

._fx_hero_card:hover {
    transform: translateY(-10px);
}

._fx_hero_card:active {
    outline: 2px solid var(--bs-primary);
    outline-offset: 2px;
}

._fx_specs_card {
    transition: all 0.2s ease-out 0.2s;
}

._fx_specs_card:hover {
    box-shadow: 0px 34px 0px -30px var(--bs-primary);
    opacity: 1;
}

/* SPECIAL */

#_spec_btn:hover {
    cursor: pointer;
}

#_spec_btn:active {
    height: 200px;
}

header,
section,
footer {
    animation: collapse 3s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    animation-play-state: paused;
}

@keyframes collapse {
    100% {
        opacity: 0;
        transform: scale(0) translateY(600px) rotateZ(90deg);
        height: 0;
        width: 0;
    }
}

#_special {
    animation: position 3s linear forwards;
    animation-play-state: paused;
}

@keyframes position {
    100% {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

._xbox {
    animation: xbox 1s ease-in 3s forwards, bounce 5s linear 4s forwards;
    animation-play-state: paused;
}

@keyframes xbox {
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}

@keyframes bounce {
    0%, 25%, 50%, 75%, 100% {
        transform: translateY(0);
    } 
    10% {
        transform: translateY(-150px);
    } 
    35% {
        transform: translateY(-110px);
    }
    60% {
        transform: translateY(-60px);
    }
    85% {
        transform: translateY(-20px);
    } 
} 

/*************************************
    DEBUG CLASS FOR BODY LAYOUT
*************************************/

._debug ._header_top,
._debug footer {
    background-color: orange;
}

._debug ._box_1 {
    width: 200px;
    height: 25px;
    background-color: yellow;
    border: 5px solid black;
}

._debug ._header_bottom {
    background-color: red;
}

._debug ._box_2 {
    height: 50px;
    background-color: yellow;
    border: 5px solid black;
}

._debug ._box_3 {
    height: 300px;
    background-color: greenyellow;
    border: 5px solid black;
}

._debug ._box_4 {
    height: 100px;
    background-color: aqua;
    border: 5px solid black;
}

._debug ._box_5 {
    height: 200px;
    background-color: pink;
    border: 5px solid black;
}

/*************************************
    MEDIA QUERY
*************************************/

@media all and (min-width: 768px) {
    #_explore .row p {
        min-height: 48px;
    }
    #_vip {
    background-image: url('../img/ps-plus-april-monthly-games-featured-image-block.png');
    background-position: 90% top;
    background-size: auto 300px;
    background-repeat: no-repeat;
    }
}

@media all and (min-width: 992px) {
    
    .accordion-body {
        position: absolute;
        left: 50% ;
        transform: translateX(-50%);
        width: 100vw;
    }
}